<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Toast</title>
  <link type="text/css" rel="stylesheet" href="../src/contentScript/css/toast.css">
</head>
<body>
<!-- Toast模板 -->
<div class="wtu-relogin-plugin-toast" id="wtu-relogin-plugin-toast">
  <div class="wtu-relogin-plugin-toast-block">
    <div class="wtu-relogin-plugin-toast-title">
      <span>提示</span>
    </div>
    <div class="wtu-relogin-plugin-toast-content">
      <span>提示信息 提示信息 提示信息</span>
    </div>
    <div class="wtu-relogin-plugin-toast-btn-area">
      <button class="wtu-relogin-plugin-btn-confirm" id="wtu-relogin-plugin-btn-confirm">确定</button>
      <button class="wtu-relogin-plugin-btn" id="wtu-relogin-plugin-btn-cancel">取消</button>
    </div>
  </div>
</div>
</body>
</html>
